---
import type { HTMLAttributes } from "astro/types";

export interface LinkProps extends HTMLAttributes<"a"> {
  href: string;
  variant?:
    | "primary"
    | "primary-light"
    | "outline-light"
    | "secondary"
    | "outline"
    | "outline-dark"
    | "nav-link"
    | "inline";
  classes?: string;
}

const { href, variant = "primary", classes, ...rest } = Astro.props;
---

<a href={href} class:list={["btn", variant, classes]} {...rest}>
  <slot />
</a>

<style lang="scss" is:global>
  .btn {
    &.primary {
      border-color: var(--brand-primary-dark);
      background-color: var(--brand-primary);
      color: var(--dark-800);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--dark-800);
        border-color: var(--dark-800);
        color: var(--light-200);
      }
    }

    &.primary-light {
      border-color: var(--brand-primary-dark);
      background-color: var(--brand-primary);
      color: var(--dark-800);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--light-200);
        border-color: var(--light-200);
        color: var(--dark-800);
      }
    }

    &.secondary {
      border-color: var(--brand-primary);
      background-color: var(--brand-primary);
      color: var(--dark-800);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--dark-800);
        border-color: var(--dark-800);
        color: var(--light-200);
      }
    }

    &.outline {
      border-color: var(--light-100);
      color: var(--content-primary);
      background: var(--glass);
      backdrop-filter: blur(18px);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--light-100);
        border-color: var(--light-100);
        color: var(--dark-900);
      }
    }

    &.outline-dark {
      border-color: var(--dark-900);
      color: var(--dark-900);
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        border-color: var(--dark-900);
        background-color: var(--dark-900);
        color: var(--light-200);
      }
    }

    &.outline-light {
      border-color: var(--light-100);
      background-color: transparent;
      color: var(--light-100);

      &:hover,
      &:active,
      &:focus {
        background-color: var(--light-100);
        border-color: var(--light-100);
        color: var(--dark-800);
      }
    }

    &.nav-link {
      border: 0px;
      border-radius: 0;
      padding: 0;
      position: relative; /* Added for :after pseudo-element positioning */
      transition: color 0.3s;
      color: var(--content-primary);
      margin: 0;

      &:hover,
      &.active {
        color: var(--content-primary);

        &:after {
          transform: scaleX(1);
        }
      }
    }

    &.nav-link:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: var(--brand-primary);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &.inline {
      border: 0;
      padding: 0;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      width: fit-content;

      &:after {
        content: "";
        display: inline-block;
        background-image: url("../icons/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 28px;
        height: 27px;
        margin-left: 0.5rem;
        line-height: 1;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: calc(100% - 37px);
        background: var(--brand-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover,
      &:active,
      &:focus {
        &:before {
          transform: scaleX(1);
        }
      }
    }
  }
</style>
