---
import { Image } from "astro:assets";

export interface LoadingScreenProps {
  backgroundImage: ImageMetadata;
  logoImage: ImageMetadata;
}

const { backgroundImage, logoImage } = Astro.props;
---

<div class="loading-screen" id="loadingScreen">
  <div class="loading-screen__bg" style={`background-image: url(${backgroundImage.src});`}></div>
  <div class="loading-screen__overlay"></div>
  <div class="loading-screen__logo">
    <Image src={logoImage} alt="Monroe Massage Logo" class="loading-screen__logo-img" />
  </div>
</div>

<style lang="scss">
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background: #000;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(26, 36, 29, 0.4);
      z-index: 1;
    }

    &__logo {
      position: relative;
      z-index: 2;
      max-width: 300px;
      width: 80%;
    }

    &__logo-img {
      width: 100%;
      height: auto;
      filter: brightness(0) invert(1);
    }
  }
</style>

<script>
  import { initLoadingScreen } from "@/js/animations.js";

  document.addEventListener("DOMContentLoaded", () => {
    initLoadingScreen();
  });
</script>
